@font-face {
    font-family: 'Compagnon Medium';
    src: url('/fonts/Comp/Compagnon-Medium.eot') format('eot'),
         url('/fonts/Comp/Compagnon-Medium.woff') format('woff'),
         url('/fonts/Comp/Compagnon-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: medium;
  }

@font-face {
font-family: 'Compagnon Light';
src: url('/fonts/Comp/Compagnon-Light.eot') format('eot'),
        url('/fonts/Comp/Compagnon-Light.woff') format('woff'),
        url('/fonts/Comp/Compagnon-Light.woff2') format('woff2');
font-weight: light;
font-style: light;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    border: solid blue 3px;
  }
  
  .blurb {
    flex: 1;
    margin: 10px;
    border: solid red 3px;
    max-width: 300px;
  }

  .blurb span {
    font-family: 'Compagnon Medium';
    font-style: medium;
    font-weight: medium;
  }

  .pfp {
    flex: 0;
    margin: 10px;
    border: solid green 3px;
    width: 300px;
  }

  .pfp img {
width: 300px;
  }

  #tag {
    background-color: aquamarine;
  }
  
  @media screen and (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }
  