@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@font-face {
   font-family: 'Gulax';
   src: url('/fonts/Gulax-Regular.woff') format('woff'),
        url('/fonts/Gulax-Regular.woff2') format('woff2'),
        url('/fonts/Gulax-Regular.eot') format('eot');
   font-weight: normal;
   font-style: normal;
 }
 

:root {
   --cream: #f6f5f1;
   --black: #353534;

}

body {
   background: rgb(245, 247, 246);
   color: var(--black);
   font-family: 'Unbounded', sans-serif;
}

.card {
   display: grid;
   grid-template-rows: minmax(0, 1fr) max-content;
   background-color: #ebe6df;
   outline: solid transparent 1px;
   outline-offset: 0px;
   transition: all 500ms;
   position: relative;
   z-index: 0;
   color: #41525D;
}

.card img {
   object-fit: cover;
   height: 100%;
   width: 100%;
   transition: all 500ms;
   box-sizing: border-box;
   padding: 7px 7px 0px 7px;
   position: relative;
   z-index: -1;
}

.label {
   justify-self: flex-start;
   box-sizing: border-box;
   font-family: 'Gulax';
   font-size: 1.2rem;
   /* font-weight: 100; */
   letter-spacing: -0.03em;
   background-color: inherit;
   padding: 0;
   margin: 0;
   color: inherit;
}

.slug {
   justify-self: flex-end;
   width: min-content;
   box-sizing: border-box;
   font-family: 'IBM Plex Mono';
   font-size: 0.5rem;
   font-weight: 100;
   padding: 0rem;
   margin: 0;
   text-align: right;
   color: inherit;
}

.card-foot {
   display: flex;
   background-color: inherit;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   margin: 0;
   padding: 6px 11px 11px 11px;


}

#navbar {
   width: 100%;
   height: 100px;
}

#navbar-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   align-items: center;
   height: 100%;
   overflow: hidden;
}

#navbar-list li {
   white-space: nowrap;
}

#dom {
   height: 100px;
   width: 100%;
}

#navbar-list li a {
   text-decoration: none;
   color: currentColor;
   /* filter: opacity(40%); */
   font-family: 'IBM Plex Mono';
   font-weight: 100;
   font-size: 0.77rem;
   padding: 0 0.7rem 0;
   line-height: 1.7rem;
}


#main-title {
   margin-right: auto;
   font-size: 1rem;
}


.card:hover {
   /* box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em; */
   /* transform: translateY(-15px) scale(1.1); */
   background-color: #41525D;
   color: #ebe6df;
   outline: solid var(--cream) 2px;
}

#navbar-list li:hover {
   outline: solid var(--black) 0.5px;
   outline-offset: -3.5px;
   color: var(--black);
   /* filter: none; */
   font-style: italic;
}

#market:hover {
   background-color: #5CF8C0;
}

#garden:hover {
   background-color: rgb(254, 219, 123);
}

#portfolio:hover {
   background-color: rgb(255, 113, 91);
}

#about:hover {
   background-color: rgb(218, 139, 255);
}

.card:hover img {
   /* filter: none !important; */
   filter: saturate(0);
   /* outline: solid var(--cream) 2px; */
   /* padding: 0; */
}

#dark-green-sepia {
   display: none;
}