.basic-grid {
    display: grid;
    gap: calc(2.5vw + 30px);
    grid-template-columns: repeat(auto-fit, minmax(max(20%, 180px), 1fr));
    padding: 77px;
}

.basic-grid > div {
    aspect-ratio: 0.75 / 1;
}

/* @media screen and (max-width: 1023px) {
    .basic-grid {
      grid-template-columns: repeat(auto-fit, minmax(max(33%, 300px), 1fr));
      gap: 20px;
    }
  } */
  
  @media screen and (max-width: 767px) {
    .basic-grid {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      padding: 20px;
    }
  }