
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul { 
    list-style-type: none;
    font-family: 'Unbounded', cursive;
}

ul li {
    display: inline;
}


body {
    display: grid;


}

nav {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    justify-content: left;
    align-items: center;
    border: 1px solid red;
    /* border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: aquamarine; */
}
